.resume-body{
    background-image:url("./../img/resume-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(var(--page-width) + 300px) calc(var(--page-height) + 54px);
    background-color: black;
}
.resume{
    max-width: var(--page-width);
    max-height: var(--page-height); 
    margin-top: -260px;
}
.resume-title{
    height: var(--resume-title-height);
    background-image: linear-gradient(to right,#fefefe,#dedede);
    position: relative;
    width: var(--page-width);
    top:300px;    
    z-index: 2;
}
.resume-name{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-left: 380px;
    position: absolute;
}
.resume-subtitle{
    color:#7f7f7f;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 90px;
    margin-left: 384px;
    position: absolute;
}
.profile-border{
    position:absolute;
    height: calc(var(--profile-height) * 1.05);
    width: calc(var(--profile-width) * 1.05);
    border-radius: 100%;
    margin-left: 65px;
    z-index: 2;
    margin-top: -35px;
    background-color:#afafaf;
}
.profile-picture{
    position: absolute;
    height: var(--profile-height);
    width: var(--profile-width);
    margin-left: 70px;
    border-radius: 100%;
    margin-top: -30px;
    background-color: #eeeeee;
    background-image: url(./../img/profile-picture.jpg);
    z-index:3;
}
.btn-protectInfo{
    background-color: #444444;
    color: whitesmoke;
}
.btn-protectInfo:hover{
    background-color:#6f6f6f;
    color: whitesmoke;
}
.left-form{
    background-color: #444444;
    height: var(--page-height);
    width: 325px;
    float:left;
}
.left-box{
    width: var(--left-box-width);
    color:whitesmoke;
}
.left-box hr{
    border-top: 2px solid #ffffff;
    border-radius: 8px;
    padding: 0;
    margin-top: -13px;
}
.left-form a{
    color: whitesmoke;
    text-decoration: none;
}
.left-form a:hover{
    color:lightgray;
}
.left-box-1{
    margin-top: 400px;
    margin-left: 50px;
}
.left-box-2{
    margin-top: 70px;
    margin-left: 50px;
}
.left-box-3{
    margin-top: 40px;
    margin-left: 50px;
}
.left-box-4{
    margin-top: 80px;
    margin-left: 50px;
}
.left-box-5{
    margin-top: 40px;
    margin-left: 50px;
}
.left-form-title{
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 3px;
}
.skills-title{
    font-size: 15px;
    text-transform: uppercase;
}
.skills-description{
    margin-top:-10px;
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.right-form{
    background-color: white;
    position: absolute;
    width: calc(var(--page-width) - 323px);
    height:var(--page-height);
    margin-left: 323px;
}
.right-form-title{
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 3px;
}
.education-title{
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:13px;
    text-transform: italic;
    margin-top: -13px;
    color:rgb(218, 211, 211);
}
.education-title:hover{
    color:white;
}

.education-degree{
    letter-spacing: .88px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:16px;
    text-transform: uppercase;
}
.education-date{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-size:11px;
    color:rgb(218, 211, 211);
    margin-top:-17px;

}
.right-box-1{
    margin-top: 400px;
    margin-left: 50px;
}
.right-box-2{
    margin-top: 70px;
    margin-left: 50px;
}
.icon-padding{
    padding-right: 15px;
}

.right-box{ 
    width:var(--right-box-width);
}
.work-company-name{
    font-size:14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.work-location{
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.work-title{
    font-family: 'Libre Franklin', sans-serif;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 600;
    letter-spacing: 1px;
}
.work-header-attach{
    margin-top:-15px;
}
.work-description{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
}
.work-date{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -20px;
    padding-left: 5px;
    text-transform: uppercase;
    font-size:11px;
    color:#7f7f7f;
}
.right-box hr{
    border-top: 2px solid #6f6f6f;
    border-radius: 8px;
    padding: 0;
    margin-top: 3px;
}
.profile-project-link a{
    text-decoration: none;
    color: black;
}
.profile-project-link a:hover{
    color:blue;
}

@media(max-width:900px){
    .resume{
        margin-top: -110px;
    }
    .resume-title{
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }
    .profile-border{
        margin-top: -325px;
    }
    .profile-picture{
        margin-top: -320px;
    }
    .resume-title{
        width: auto;
        top:400px;    
    }
    .resume-name{
        letter-spacing: 1px;
        margin-top: 0;
        margin-left: 20px ;
        position: relative;
    }
    .resume-subtitle{
        letter-spacing: 1px;
        margin-top: 0;
        margin-left: 20px;
        position: relative;
    }
    .left-form{
        width: auto;
        height: auto;
        float: none;
        padding: 20px 0;
        position:relative;

    }
    .left-box{
        width: auto;
        padding-right: 50px;
    }
    .right-form{
        position: static;
        width: auto;
        height: auto;
        margin-left: 0;
        padding: 20px 0;
        margin-top: -390px;
    }
    .right-box{
        width:auto;
        padding-right: 50px;
    }
    .resume-body{ 
        background-size: calc(var(--page-width) + 300px) 6000px;
    }
}
